* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: palevioletred;
    color: lightpink;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.intro {
    padding: 20px;
    margin-bottom: 24px;
}

article {
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    background-color: lightpink;
}

footer {
    background-color: palevioletred;
    color: lightpink;
    padding: 20px;
    margin-top: 24px;
    text-align: center;
}

@media (min-width: 768px) {
    article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }
}